In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('../data/processed/04_housing_data_enriched_icpsr.csv')
df.head()

,RegionID,RegionName,RegionType,StateName,SizeRank,Date,ZHVI_AllHomes,ZHVI_SingleFamily,ZHVI_Condo,SalesCount_SFR,...,Month,Unemployment_Rate,Median_Income,Population,Num_Major_Disasters_Last_12mo,Major_Disaster_Declared,Most_Recent_Disaster_Type,StateFull,Sales_Tax,Income_Tax
0,102001,United States,country,US,0,2018-01-31,222399.430599,221704.438544,232520.632007,248552.0,...,1,4.0,75790.0,327969.000,0,0,NaN,NaN,NaN,NaN
1,394913,"New York, NY",msa,NY,1,2018-01-31,468289.939148,458621.808084,496261.053175,10754.0,...,1,4.5,80700.0,19544.098,0,0,NaN,NEW YORK,4.00,8.82
2,753899,"Los Angeles, CA",msa,CA,2,2018-01-31,613037.032936,637911.684582,469858.117823,5302.0,...,1,4.4,84560.0,39437.463,1,1,Severe Storm,CALIFORNIA,7.25,13.30
3,394463,"Chicago, IL",msa,IL,3,2018-01-31,227029.700914,231794.550568,190146.965317,5550.0,...,1,4.5,84140.0,12724.685,0,0,NaN,ILLINOIS,6.25,4.95
4,394514,"Dallas, TX",msa,TX,4,2018-01-31,238849.482465,240010.957031,163186.511511,5077.0,...,1,4.1,71720.0,28624.564,0,0,NaN,TEXAS,6.25,0.00

In [3]:
df.columns

Index(['RegionID', 'RegionName', 'RegionType', 'StateName', 'SizeRank', 'Date',
       'ZHVI_AllHomes', 'ZHVI_SingleFamily', 'ZHVI_Condo', 'SalesCount_SFR',
       'Inventory_SFR', 'Year', 'Month', 'Unemployment_Rate', 'Median_Income',
       'Population', 'Num_Major_Disasters_Last_12mo',
       'Major_Disaster_Declared', 'Most_Recent_Disaster_Type', 'StateFull',
       'Sales_Tax', 'Income_Tax'],
      dtype='object')

In [4]:
rename_dict = {
    "RegionID": "region_id",
    "RegionName": "region_name",
    "RegionType": "region_type",
    "StateName": "state_name",
    "SizeRank": "size_rank",
    "Date": "date",
    "ZHVI_AllHomes": "zhvi_all_homes",
    "ZHVI_SingleFamily": "zhvi_single_family",
    "ZHVI_Condo": "zhvi_condo",
    "SalesCount_SFR": "sales_count_sfr",
    "Inventory_SFR": "inventory_sfr",
    "Year": "year",
    "Month": "month",
    "Unemployment_Rate": "unemployment_rate",
    "Median_Income": "median_income",
    "Population": "population",
    "Num_Major_Disasters_Last_12mo": "num_major_disasters_last_12mo",
    "Major_Disaster_Declared": "major_disaster_declared",
    "Most_Recent_Disaster_Type": "most_recent_disaster_type",
    "StateFull": "state_full",
    "Sales_Tax": "sales_tax",
    "Income_Tax": "income_tax"
}

In [5]:
df.rename(columns=rename_dict, inplace=True)

In [6]:
df.columns

Index(['region_id', 'region_name', 'region_type', 'state_name', 'size_rank',
       'date', 'zhvi_all_homes', 'zhvi_single_family', 'zhvi_condo',
       'sales_count_sfr', 'inventory_sfr', 'year', 'month',
       'unemployment_rate', 'median_income', 'population',
       'num_major_disasters_last_12mo', 'major_disaster_declared',
       'most_recent_disaster_type', 'state_full', 'sales_tax', 'income_tax'],
      dtype='object')

In [7]:
# Save renamed DataFrame
df.to_csv('../data/processed/05_housing_data_renamed_columns.csv', index=False)

print("File successfully saved to 'data/processed/05_housing_data_renamed_columns.csv'")

File successfully saved to 'data/processed/05_housing_data_renamed_columns.csv'